---
---

@import "global";
@import "variables";
@import "components/header";
@import "components/footer";
@import "components/archive";
@import "components/tags";

// Specify the color of the scrollbar

::-moz-selection {
  background: $selection-background-color;
}

::selection {
  background: $selection-background-color;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $base-lightener-color;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: $background-color;
}

// Layout & Section

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
}

.page {
  padding-bottom: 45px;

  h1 svg {
    display: inline-block;
    margin-bottom: -3px;
    padding-right: 15px;
    height: 30px;
  }
}

// Sidebar
.wrapper-sidebar {
  width: 25%;
  height: 100%;
  background-color: $background-color;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  border-right: 1px solid $divider-color;
  text-align: center;

  @include mobile {
    width: 100%;
    height: auto;
    padding: 15px 0;
    position: relative;
    border-bottom: 1px solid $divider-color;
    border-right: 0;
  }
}

// Content
.wrapper-content {
  float: right;
  width: 75%;

  @include mobile {
    float: none;
    width: 100%;
  }
}

// Posts
.posts .tag {
  display: inline;
  font-weight: 300;
  font-size: $small-font-size;

  li {
    display: inline;
    margin: 0;

    &:before {
      content: '';
    }

    > a {
      margin: 3px 3px 3px 0;
      padding: .5px 4px;
      color: $base-color;
      background-color: $tag-index-label-background-color;
      border-radius: 3px;

      &:hover {
        color: $link-color;
        background-color: $link-bghv-color;
      }
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $divider-color;

  &:last-child {
    padding-bottom: 1em;
    border-bottom: none;
  }
}

.date {
  font-weight: 300;
  font-size: $small-font-size;
  color: $base-lighten-color;
  margin-right: 4px;
}

.author {
  font-weight: 700;
  font-size: $small-font-size;
  color: $base-lighten-color;
  margin-right: 4px;
}

.post {
  h1 {
    margin-bottom: .1em;

    a {
      color: $base-color;

      &:hover {
        color: $link-color;
      }
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

// TOC
.toc {
  width: 240px;
  height: 100%;
  left: 25%;
  position: fixed;
  z-index: 4;
  padding: 50px 15px 50px 10px;
  overflow-y: auto;

  &:before {
    content: "Contents - 目录";
    margin: 0 0 1em 1em;
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    padding-bottom: 0.6em;
    border-bottom: 3px double $divider-color;
  }

  li {
    font-size: 0.87rem;
    padding: 0 0 0 15px;

    &:before {
      content: "";
    }
  }

  @include mobile {
    display: none;
  }
}

@media screen and (max-width: 2200px) and (min-width: 1200px) {
  .withtoc {
    padding-left: 260px;
  }
}

// Pagination
.pagination {
  border-top: 1px solid $divider-color;
  font-weight: 300;
  padding: 40px 0;
  width: 100%;
  display: inline-block;

  @include mobile {
    font-size: $small-font-size;
    padding: 27px 0 20px;
  }

  > .prev {
    float: left;
    width: 50%;

    a {
      color: $base-lighten-color;
      border: 1px solid $divider-color;
      padding: 10px 20px;
      background: $background-color;

      &:hover, &:focus {
        color: $link-lighten-color;
        border: 1px solid $link-lighten-color;
        background-color: $link-bghv-color;
      }
    }
  }

  > .next {
    float: right;
    text-align: right;
    width: 50%;

    a {
      color: $base-lighten-color;
      border: 1px solid $divider-color;
      padding: 10px 20px;
      background: $background-color;

      &:hover, &:focus {
        color: $link-lighten-color;
        border: 1px solid $link-lighten-color;
        background-color: $link-bghv-color;
      }
    }
  }
}

/**
 * Settled on moving the import of syntax highlighting to the bottom of the CSS
 * ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
 */
@import "highlights";
@import "gitalk";
